html {
	font-family: Merriweather, Arial;
	font-size: 12pt;
}

body {
	background-color: #FFF;
	margin: 0px;
}

a {
	color: #0366D6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input[type="number"] {
	width: 50px;
}

input[type="text"] {
	width: 100px;
}

input, textarea {
	font-family: Merriweather, Arial;
	font-size: 10pt;
}

button {
	font-family: Merriweather, Arial;
	font-size: 10pt;
	margin: 3px 0px;
	background-color: #EFF2F5;
}

button:hover {
	background-color: #E4E8EC;
}

button:focus {
	outline: none;
}

select {
	font-family: Merriweather, Arial;
	font-size: 10pt;
	background-color: #EFF2F5;
	color: #000;
}

select:hover {
	background-color: #E4E8EC;
}

select:focus {
	outline: none;
}

.header {
	padding: 15px;
	background-color: #2B2D2F;
	color: rgba(255, 255, 255, 0.80);
}

.header a {
	color: rgba(255, 255, 255, 0.80);
	text-decoration: none;
}

.header a:hover {
	color: rgba(255, 255, 255, 1.00);
}

.menu {
	padding: 15px;
	background-color: #F8F8F4;
	border-bottom: 1px solid #CCC;
}

.menu ul {
	display: table;
	table-layout: fixed;
	margin: 0px;
	padding: 0px;
}

.menu ul li {
	display: table-cell;
	padding: 0px 15px 0px 0px;
}

.menu p {
	margin: 0px;
}

.data {
	padding: 15px;
}

.footer {
	padding: 15px;
	margin-top: 30px;
	color: rgba(0, 0, 0, 0.8);
	border-top: 1px solid #CCC;
}