html {
	font-family: Merriweather, Arial;
	font-size: 1em;
}

body {
	background-color: #FFF;
	margin: 0em;
}

h1 {
	margin: 0em;
	font-size: 1.25em;
}

h2 {
	margin: 0em;
	font-size: 1.15em;
}

h3 {
	margin: 0em;
	padding: 1em 0em 0em 0em;
	font-size: 1.05em;
}

a {
	color: #0366D6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input[type="number"] {
	width: 4em;
}

select {
	width: 100%;
}

select:focus {
	outline: none;
}

textarea {
	width: 20em;
	height: 5em;
}

pre {
	display: inline-block;
	margin: 1em;
}

.header {
	padding: 1em;
	background-color: #2B2D2F;
	color: rgba(255, 255, 255, 0.80);
}

.header a {
	color: rgba(255, 255, 255, 0.80);
	text-decoration: none;
}

.header a:hover {
	color: rgba(255, 255, 255, 1.00);
}

.menu {
	padding: 1em 0em;
	background-color: #F8F8F4;
	border-bottom: 1px solid #CCC;
}

.menu ul {
	display: table-row;
	margin: 0em;
	padding: 0em;
}

.menu ul li {
	display: table-cell;
	padding: 0em 0em 0em 1em;
}

.data {
	padding: 0em 1em;
}

.footer {
	padding: 1em;
	margin-top: 1.5em;
	color: #000;
	border-top: 1px solid #CCC;
}

#studies {
	margin: 0.5em 0em;
	padding: 0em;
	border: 1px solid #CCC;
	display: inline-block;
}

#studies > div:nth-of-type(odd) {
	padding: 0.5em;
	background: #F0F0F0;
}

#studies > div:nth-of-type(even) {
	padding: 0.5em;
	background: #F9F9F9;
}

#dUnbiased {
	margin: 0.5em 0em 0em 0em;
}